<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}
<h1>Hello {{name}}</h1>

<form action="calc" method="post">
    {% csrf_token %}
    Enter 1st Value: <input type="text" name="num1"> <br> <br>
    Enter 2nd Value: <input type="text" name="num2"> <br> <br>
    <div>
        <input type="checkbox" name="addition" id="add">
        <label for="add" >Addition</label>
    </div>
    <div>
        <input type="checkbox" name="multiply" id="multiply">
        <label for="multiply" >Multiply</label>
    </div>
    <div>
        <input type="checkbox" name="division" id="division">
        <label for="division" >Division</label>
    </div>
    <input type="submit">
</form>

{% endblock %}
</body>
</html>